<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/types.html">
        <span itemprop = "name"> C type </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> uint64_t --Unsigned 64-bit integer type </ h2>

"Uint64_t" is an unsigned 64-bit integer type. It can be used by including the "<a href="/blog/20210220132505.html"> stdint.h </a>" header. This is the type introduced in <a href="/blog/20201206125815.html"> C99 </a>.

<pre>
# Unsigned 64-bit integer type
uint64_t
</ pre>

The maximum value of an integer that can be represented by an unsigned 64-bit integer type is "4294967295", and the minimum value is "0".

The maximum value is defined by the macro "<a href="/blog/20201108150850.html"> UINT64_MAX --constant representing the maximum value of uint64_t </a>".

<h3> uint64_t sample code </ h3>

This is a sample code using uint64_t. "% Llu" in the format specifier of the <a href="/blog/20210419083246.html"> printf function </a> to indicate that it exceeds the value of a signed 64-bit integer and is an unsigned 64-bit integer. , Integer literals with "ULL" suffix.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  uint64_t num = 18446744073709551615ULL;
  
  printf ("% llu \ n", num);
}
</ pre>

Output result.

<pre>
18446744073709551615
</ pre>