<h2> What's new in C99 </h2>

Introducing the new features of C99.

<h3> One-line comment by "//" </h3>

The C language <a href="/blog/20201207125815.html"> comment</a> was only "/ * comment * /", but the one-line comment by "//" was officially adopted in C99. rice field.

<pre>
// comment
</pre>

<h3> Local variable declaration is possible at any position </h3>

From C99, you can <a href="/blog/20201217105308.html"> declare local variables</a> at any position. The restriction that the declaration of a local variable must be at the beginning of the block is removed.

<pre>
#include <stdint.h>

int main (void) {
  {
    int32_t num1 = 5;
    
    1 + 1;
    
    // Local variables can be declared at any position
    int32_t num2 = 4;
  }
}
</pre>

<h3> Local variables can be declared in the loop variable initialization part of the for statement </h3>

<a href="/blog/20201217105308.html"> Local variable declaration</a> is now possible in the loop variable initialization part of <a href="/blog/20210115151850.html"> for statement</a> became.

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  
  int32_t total = 0;

  // Declare variables in the loop variable initialization part of for
  for (int32_t i = 0; i <10; i ++) {
    total + = i;
  }
  
  printf("%d\n", total);
}
</pre>

<h3> Integer type that can specify a certain width </h3>

Integer types are now available that allow you to specify a certain width.

<ul>
  <li> <a href="/blog/20201117090747.html"> int8_t --Signed 8-bit integer type</a> </li>
  <li> <a href="/blog/20201126090559.html"> int16_t --Signed 16bit integer type</a> </li>
  <li> <a href="/blog/20201130082751.html"> int32_t --Signed 32-bit integer type</a> </li>
  <li> <a href="/blog/20201127082751.html"> int64_t --Signed 64-bit integer type</a> </li>
  <li> <a href="/blog/20201122084622.html"> uint8_t --Unsigned 8bit integer type</a> </li>
  <li> <a href="/blog/20201120084622.html"> uint16_t --Unsigned 16bit integer type</a> </li>
  <li> <a href="/blog/20201111150850.html"> uint32_t --Unsigned 32bit integer type</a> </li>
  <li> <a href="/blog/20201109150850.html"> uint64_t --Unsigned 64-bit integer type</a> </li>
</ul>

<h3> Integer type that can be converted to and from a pointer </h3>

<ul>
  <li> <a href="/blog/20210225131724.html"> intptr_t --Signed integer type of pointer size</a> </li>
  <li> <a href="/blog/20210223131724.html"> uintptr_t --Unsigned integer type of pointer size</a> </li>
</ul>

<h3> Specify the member variable name of the structure and specify the value </h3>

You can now specify a value by specifying the member variable name of <a href="/blog/20210208155548.html"> structure</a>.

<pre>
#include <stdint.h>
#include <stdio.h>

// Definition of a structure that represents book information
struct myapp_book {
  int32_t id;
  const char * name;
  int32_t price;
};;

int main (void) {
  // Declare and initialize structure variables (specify member variable names and specify values)
  struct myapp_book book = {.id = 1, .name = "C99 Book", .price = 2000};
  
  printf("id:%d, name:%s, price:%d\n", book.id, book.name, book.price);
}
</pre>