<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Comments </h2>

C comments start with "/ *" and end with "* /". Comments have no meaning in the source code.

<pre>
/* comment */
</pre>

You can also write multi-line comments.

<pre>
/ *
  Comment 1
  Comment 2
* / /
</pre>

<h3> One-line comment adopted in C99 // </h3>

One-line comment "//" was adopted in C99.

<pre>
// comment
</pre>