<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> if statement --conditional branch </h2>

I will explain about <b> conditional branching </b> in C language.

<h3> if statement </h3>

Use a <br> if statement </b> to do a conditional branch.

<pre>
if (condition) {
  // Processing to be executed when the conditions are met
}
</pre>

As for the truth value in C language, 0 is false and other values ​​are true. NULL is defined as 0 in C, so it is false.

This is a sample if statement.

The comparison operator is 1 if it is satisfied and 0 if it is not.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  int32_t flag = 1;
  
  if (flag == 1) {
    printf("1 OK\n");
  }
}
</pre>

Output result.

<pre>
1 OK
</pre>

<h3> else if statement </h3>

If you want to write multiple conditions, use <b> else if statement </b>. You can write multiple else if statements.

<pre>
if (condition 1) {
  // Processing to be executed when condition 1 is met
}
else if (condition 2) {
  // Processing to be executed when condition 2 is met
}
else if (condition 3) {
  // Processing to be executed when condition 3 is met
}
</pre>

This is a sample of else if statement.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  int32_t flag = 2;
  
  if (flag == 1) {
    printf("1 OK\n");
  }
  else if (flag == 2) {
    printf("2 OK\n");
  }
}
</pre>

Output result.

<pre>
2 OK
</pre>

<h3> else statement </h3>

If you want to execute the process when the condition is not met, use the else statement.

<pre>
if (condition) {
  // Processing to be executed when the conditions are met
}
else {
  // Processing to be executed when the condition is not met
}

if (condition 1) {
  // Processing to be executed when condition 1 is met
}
else if (condition 2) {
  // Processing to be executed when condition 2 is met
}
else if (condition 3) {
  // Processing to be executed when condition 3 is met
}
else {
  // Processing when all the above conditions are not met
}
</pre>

This is a sample of the else statement.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  int32_t flag = 3;
  
  if (flag == 1) {
    printf("1 OK\n");
  }
  else if (flag == 2) {
    printf("2 OK\n");
  }
  else {
    printf("Not OK\n");
  }
}
</pre>

Output result.

<pre>
Not OK
</pre>