<h2> The implementation of the programming language Perl is written in C </ h2>

The implementation of the <a href="https://en.perlzemi.com/"> programming language Perl </a> is written in C.

The Perl source code is maintained on <a href="https://en.git.perlzemi.com/"> Git </a> and can be found on Github.

<ul>
  <li> <a href="https://github.com/Perl/perl5"> Perl repository </a> </ li>
</ ul>

<a href="https://en.perlzemi.com/blog/20161023147731.html"> if statement </a> and <a href="https://en.perlzemi.com/blog/20170521149524.html" Perl's grammar such as> for statement </a> is a C language grammar, but the implementation of Perl itself is actually implemented in C language.

Including grammar that can be written as "if (num = 1) {}" and criticized as a drawback of C language such as <a href="/blog/20210704071720.html"> operator precedence </a> Perl respects the C grammar.

Perl is a language that is naturally usable by software engineers who have learned the C language in the introduction to programming, and in this respect, the learning cost is low.

<h3> Python development team criticizes C </ h3>

The Python development team has long criticized the ability to write the grammar "if (num = 1) {}" in C as a drawback of C, but it's more of a trivial part than it's essentially a problem. I feel like something.

Before seeking a fair comparison, we encourage you to refrain from gaining political status or gaining market share in negative public relations.

Speaking only in the field of deep learning, Perl says <a href="https://en.deeplearning.perlzemi.com/blog/20201118093000.html"> AI :: MXNet </a>. There is a library of deep learning.

<h3> Other programming languages ​​implemented in C </ h3>

In addition to Perl, PHP, Ruby, and Python, which are dynamic programming languages ​​that appeared after Perl, are also implemented in C language.