<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/types.html">
        <span itemprop = "name"> C type </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> int16_t --Signed 16bit integer type </h2>

"Int16_t" is a signed 16-bit integer type. It can be used by including the "<a href="/blog/20210220132505.html"> stdint.h</a>" header. This is the type introduced in <a href="/blog/20201206125815.html"> C99</a>.

<pre>
# Signed 16bit integer type
int16_t
</pre>

The maximum value of an integer that can be represented by a signed 16-bit integer type is "32767", and the minimum value is "-32768".

The maximum value is "<a href="/blog/20201125090559.html"> INT16_MAX</a>" and the minimum value is "<a href="/blog/20201121084622.html"> INT16_MIN</a>". It is defined.

<h3> int16_t sample code </h3>

This is a sample code using int16_t.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  int16_t num = 1000;
  
  printf("%d\n", num);
}
</pre>

"%D" is used in the format specifier of <a href="/blog/20210419083246.html"> printf function</a>.

Output result.

<pre>
1000
</pre>