<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/types.html">
        <span itemprop = "name"> C type </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> int8_t --Signed 8-bit integer type </h2>

"Int8_t" is a signed 8-bit integer type. It can be used by including the "<a href="/blog/20210220132505.html"> stdint.h</a>" header. This is the type introduced in <a href="/blog/20201206125815.html"> C99</a>.

<pre>
# Signed 8-bit integer type
int8_t
</pre>

The maximum value of an integer that can be represented by a signed 8-bit integer type is "127", and the minimum value is "-128".

The maximum value is "<a href="/blog/20201115090747.html"> INT8_MAX</a>" and the minimum value is "<a href="/blog/20201114090747.html"> INT8_MIN</a>". It is defined.

<h3> int8_t sample code </h3>

This is a sample code using int8_t.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  int8_t num = 5;
  
  printf("%d\n", num);
}
</pre>

"%D" is used in the format specifier of <a href="/blog/20210419083246.html"> printf function</a>.

Output result.

<pre>
Five
</pre>