<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Read header file </h2>

I will explain how to read the header file using the include macro.

<pre>
#include header file name
</pre>

The header file name is written as "<header file name>" if it is the header read path of the system.

<pre>
#include <stdio.h>
</pre>

If you want to read the header of the library from a location other than the system header file reading path in your own library, write "" header file name "".

<pre>
#include "mylib.h"
</pre>

<h3> Is it possible to read other than the header file? </h3>

Yes. It is possible to read other than the header file. But perhaps, basically, that's not what you want. If you're just starting out in C and think you need to read something other than a header file, stop for a moment and think about it.

One use is to see an example where a large amount of static data is defined(such as Unicode character definition) because you want to keep the files separate.

<h3> Where is the read path for the system header file defined? </h3>

One of the system header read paths is "/ usr / include" in <a href="https://en.ubuntu.perlzemi.com/"> Ubuntu</a>, for example. It may be different for other <a href="https://en.linux.perlzemi.com/"> UNIX / Linux</a> distributions.

How can I find out the read path of the system header file?

In fact, the header file read path is written to the C preprocessor.

First, find out the path of the preprocessor used by gcc.

<pre>
gcc -print-prog-name = cc1
</pre>

The output is as follows.

<pre>
/ usr / lib / gcc / x86_64-linux-gnu / 7 / cc1
</pre>

When viewing the preprocessor version, the include path is displayed.

<pre>
/ usr / lib / gcc / x86_64-linux-gnu / 7 / cc1 -v
</pre>

The default header file read path is displayed.

<pre>
ignoring nonexistent directory "/usr/lib/gcc/x86_64-linux-gnu/7/../../../../x86_64-linux-gnu/include"
#include "..." search starts here:
#include <...> search starts here:
 / usr / lib / gcc / x86_64-linux-gnu / 7 / include
 / usr / local / include
 / usr / lib / gcc / x86_64-linux-gnu / 7 / include-fixed
 / usr / include
</pre>

<h3> Why can the standard library use functions just by reading the header file? </h3>

Normally, you have to read the header file and link the library or object file before you can use the function.

For C language standard libraries such as "stdio.h", this work is not necessary.

In fact, when an executable is generated by gcc linking, a library called glibc (libc) that implements C language functions is linked.

<h3> What is a macro? </H3>

A C language macro is a syntax that starts with #. The description of the macro is expanded into the source code by the C language processor before the source code begins to compile.