<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdio.html">
        <span itemprop = "name"> stdio.h </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> sprintf function --output format string to string variable </h2>

The <b> sprintf function </b> is a function that can output a format string to a string variable. The <a href="/blog/20210419083246.html"> printf function</a> outputs to the standard output, but this output destination is <a href="/blog/20201204103322.html"> char type. Think of the sprintf function as changing a string variable declared as a <a href="/blog/20210129143859.html"> array</a> in</a>. The sprintf function can be used by loading <a href="/blog/20210418083246.html"> stdio.h</a>.

<pre>
#include <stdio.h>
int sprintf(char * str, const char * format, ...);
</pre>

The first argument is the output destination string. The second argument is the format string, which is the same as described in <a href="/blog/20210419083246.html"> printf function</a>. The third and subsequent arguments are variable-length arguments, which are the same as those explained in the printf function.

The sprintf function is a function that can cause a buffer overrun.

<h3> Sample sprintf function </h3>

This is a sample of the sprintf function.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  const char * name = "kimoto";
  int32_t age = 40;
  
  char message [255];
  
  sprintf(message, "I'm%s. Age is%d.", name, age);
  
  printf("%s\n", message);
}
</pre>

This is the output result.

<pre>
I'm kimoto. Age is 40.
</pre>

This sample does not cause a buffer overrun.

<h3> sprintf function and Buffo overrun </h3>

I will write about the danger of the sprintf function and the buffo overrun.

For example, consider that user input changes the value to embed in the format. For example, suppose you haven't put a length limit on a user's name in a web input form. Also assume that the length of the output destination string is short.

<pre>
#include <stdio.h>
#include <stdint.h>

int main (void) {
  const char * name = "long_long_long_name";
  int32_t age = 40;
  
  char message [16];
  
  // Buffer overrun !!!
  sprintf(message, "I'm%s. Age is%d.", name, age);
  
  printf("%s\n", message);
}

</pre>

When a buffer overrun occurs, data is written to an unintended memory area. I'm not familiar with what kind of problem this causes, so I'll leave it to the security engineer. As an engineer writing a program, keep in mind that you shouldn't have a buffo overrun.

There is also a snprintf function that can limit the maximum number of writes, so use it properly according to the purpose.