<h2> Two's complement representation of negative numbers </h2>

I will explain the two's complement expression for expressing negative numbers.

This is explained using the example of <a href="/blog/20201117090747.html"> int8_t</a>, which is an 8-bit signed integer type.

In computer architecture, there are several ways to represent negative numbers. Two's complement representation is one of them.

Let's write out the two's complement expression concretely.

<table>
  <tr> <td> Negative number </td> <td> Negative number bit representation </td> <td> Positive number (including 0) </td> <td> Positive number bit representation < / td> </tr>
  <tr> <td> -1 </td> <td> 11111111 </td> <td> 0 </td> <td> 00000000 </td> </tr>
  <tr> <td> -2 </td> <td> 11111110 </td> <td> 1 </td> <td> 00000001 </td> </tr>
  <tr> <td> -3 </td> <td> 11111101 </td> <td> 2 </td> <td> 00000010 </td> </tr>
  <tr> <td> ... </td> <td> ... </td> <td> ... </td> <td> ... </td> </tr>
  <tr> <td> -126 </td> <td> 10000010 </td> <td> 125 </td> <td> 01111101 </td> </tr>
  <tr> <td> -127 </td> <td> 10000001 </td> <td> 126 </td> <td> 01111110 </td> </tr>
  <tr> <td> -128 </td> <td> 10000000 </td> <td> 127 </td> <td> 01111111 </td> </tr>
</table>

Let's take a look at the characteristics of 2's complement representation.

<ul>
  <li> A positive number if the most significant bit is 0. Negative number if the most significant bit is 1 </li>
  <li> 127 (maximum positive value) is 01111111 </li>
  <li> -1 is 11111111 </li>
  <li> -128 is 10000000 </li>
  <li> Inverting the bits and summing them gives -1 (11111111) </li>
</ul>

The definition of 2's complement can be found everywhere, so please check it out (laughs).

<h3> Can we assume that negative numbers are two's complement representations? </H3>

The C language specification does not define a negative number as a two's complement, but in many implementations, the representation of a negative number is much more two's complement than any other representation. think.

If you get a negative minimum when you add 1 to the positive maximum, you can be confident that your implementation is using 2's complement representation for negative numbers.

If the Numerical Library requires the implementation to have a two's complement as a negative representation, it can be checked with a simple calculation.

<h3> What are the characteristics of 2's complement? </H3>

The feature of 2's complement is that subtraction can be expressed by addition.

<pre>
2-3 = -1
</pre>

This is the same as below.

<pre>
# 00000010 + 11111101 = 11111111
2 + (-3) = -1
</pre>

<h3> Where is the nuance of 2's complement 2? </H3>

The naming method may have been wrong ...

I think forcibly.

Let's call the first discovered complement the one's complement. The sign changes by mere bit inversion.

Let's call the second found complement the two's complement. If you add 1 to the simple bit inversion, the sign will change.