<h2> Operator precedence </h2>

The precedence of C language operators.

<table>

  <tr> <th> Priority </th> <th> Operator </th> <th> Grammar </th> <th> Name </th> <th> Join Direction </th> </tr>

  <tr> <td rowspan = 6> 1
      <td> () <td> x (y) <td> Function call operator <td> Left </tr>
  <tr> <td> [] <td> x [y] <td> Subscript operator <td> Left </tr>
  <tr> <td>. <td> x. y <td>. Operator (dot operator) <td> left </tr>
  <tr> <td>-><td> x->y<td>->operator(arrow operator) <td> left </tr>
  <tr> <td> ++ <td> x ++ <td> Post-increment operator <td> Left </tr>
  <tr> <td>-<td> y- <td> Post-decrease operator <td> Left </tr>


  <tr> <td rowspan = 9> 2
      <td> ++ <td> ++ x <td> Prefix increment operator <td> right </tr>
  <tr> <td>-<td>-y <td> Prefix subtraction operator <td> right </tr>
  <tr> <td> sizeof <td> sizeof x <td> sizeof operator <td> right </tr>
  <tr> <td> & <td> & x <td> unary & operator (address operator) <td> right </tr>
  <tr> <td> * <td> * x <td> unary * operator (indirect operator) <td> right </tr>
  <tr> <td> + <td> + x <td> unary + operator <td> right </tr>
  <tr> <td>-<td> -x <td> unary-operator <td> right </tr>
  <tr> <td> ~ <td> ~ x <td> ~ operator (complement operator) <td> right </tr>
  <tr> <td>! <td>! x <td> logical negation operator <td> right </tr>


  <tr> <td> 3
      <td> () <td> (x) y <td> Cast operator <td> right </tr>


  <tr> <td rowspan = 3> 4
      <td> * <td> x * y <td> Binary * operator <td> left </tr>
  <tr> <td> / <td> x / y <td> / operator <td> left </tr>
  <tr> <td>%<td> x%y <td>%operator <td> left </tr>


  <tr> <td rowspan = 2> 5
      <td> + <td> x + y <td> Binary + operator <td> left </tr>
  <tr> <td>-<td> x-y <td> Binary-operator <td> left </tr>


  <tr> <td rowspan = 2> 6
      <td> <<<< td> x << y <td> << operator <td> left </tr>
  <tr> <td >>> <td> x >> y <td >>> operator <td> left </tr>


  <tr> <td rowspan = 4> 7
      <td> << td> x <y <td> <operator <td> left </tr>
  <tr> <td> <= <td> x <= y <td> <= operator <td> left </tr>
  <tr> <td >> <td> x> y <td >> operator <td> left </tr>
  <tr> <td >> = <td> x> = y <td >> = operator <td> left </tr>


  <tr> <td rowspan = 2> 8
      <td> == <td> x == y <td> == operator <td> left </tr>
  <tr> <td>! = <td> x! = y <td>! = Operator <td> left </tr>

  <tr> <td> 9
      <td> & <td> x & y <td> Bitwise and operator <td> left </tr>


  <tr> <td> 10
      <td> ^ <td> x ^ y <td> Bitwise exclusive or operator <td> left </tr>


  <tr> <td> 11
      <td> | <td> x | y <td> Bitwise or operator <td> Left </tr>


  <tr> <td> 12
      <td> && <td> x && y <td> logical and operator <td> left </tr>


  <tr> <td> 13
      <td> || <td> x || y <td> logical or operator <td> left </tr>

  <tr> <td> 14
      <td>?: <td> x? y: z <td> conditional operator <td> right </tr>


  <tr> <td rowspan = 2> 15
      <td> = <td> x = y <td> Simple assignment operator <td> right </tr>
  <tr> <td> + =-= * = / =%= << = >> = & = ^ = | = <td> x + = y <td> Composite assignment operator <td> right </tr>


  <tr> <td> 16
      <td>, <td> x, y <td> Comma operator <td> left </tr>

</table>