<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/string.html">
        <span itemprop = "name"> string.h </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> strncmp function-Compare substrings </ h2>

The <b> strncmp function </ b> is a function that partially compares <a href="/blog/20210331101342.html"> strings </a>. Returns a positive number if the specified number of characters "n" and "s1" is greater than "s2" in dictionary order, 0 if they are the same, and a negative number if they are smaller.

You can use it by including "<a href="/blog/20210303101711.html"> string.h </a>".

<pre>
#include <string.h>
int strncmp (const char * s1, const char * s2, size_t n);
</ pre>

<h3> Sample strncmp function </ h3>

This is a sample that compares strings with the strncmp function. If there is a match, Match is displayed.

<pre>
#include <stdio.h>
#include <string.h>

int main (void) {
  const char * module_name = "Foo :: Bar :: Baz";
  
  // Find out if it starts with Foo :: Bar
  if (strncmp (module_name, "Foo :: Bar", strlen ("Foo :: Bar")) == 0) {
    printf ("Match \ n");
  }
  else {
    printf ("Not Match \ n");
  }
}
</ pre>

<h3> How to compare whole strings? </ H3>

Use the strcmp function to compare the entire string.

<ul>
  <li> <a href="/blog/20210413090615.html"> strcmp function-Compare strings </a> </ li>
</ ul>