<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> main function </h2>

The C language program is executed from the main function.

<pre>
int main (void) {
  
}
</pre>

The return type of the main function is a type compatible with <a href="/blog/20210130143859.html"> int type</a> or int type in the C language specification, but it should be obediently int type. It's a good idea to keep it.

If you don't receive command line arguments, it's a good idea to leave them as "<a href="/blog/20210313140759.html"> void type</a>" which means there are no arguments.

If the main function omits returning the return value, the compiler automatically adds "return 0;" at the end.

<pre>
int main (void) {
  
}

// Same meaning as below
int main (void) {
  
  return 0;
}
</pre>

<h3> Command line arguments </h3>

The main function can accept command line arguments.

<pre>
int main (int argc, char * argv []) {
  
}
</pre>

The command line arguments are described in detail below.

<ul>
  <li> <a href="/blog/20210318082708.html"> command line arguments</a> </li>
</ul>