<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/assert.html">
        <span itemprop = "name"> assert.h </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Assertion --assertion macro </ h2>

You can insert assertions into your source code using the assert macro.

<pre>
assert (condition)
</ pre>

If the condition of the assert macro is true, nothing happens. If the condition is false, an error message will be output and the program will terminate. If core dump output is enabled, core dump output is also output. This is useful if you want to check that a value is what you expect.

<pre>
#include <stdio.h>
#include <stdint.h>
#include <assert.h>

int main (void) {
  int32_t num = 3;
  
  // Check that num is greater than 1
  assert (num> 1);
  
  printf ("% d \ n", num);
}
</ pre>

This is the output result. Since "num" is larger than "1", it will be executed normally.

<pre>
3
</ pre>

Let's change "num" to "-1".

<pre>
#include <stdio.h>
#include <stdint.h>
#include <assert.h>

int main (void) {
  int32_t num = -1;
  
  // Check that num is greater than 1
  assert (num> 1);
  
  printf ("% d \ n", num);
}
</ pre>

This is the output result for <a href="https://en.linux.perlzemi.com/blog/20201216103956.html"> gcc </a>.

<pre>
a: a.c: 9: main: Assertion `num> 1'failed.
Aborted (core dumped)
</ pre>

<a href="https://en.linux.perlzemi.com/blog/20191126082723.html"> ls command </a> and <a href="https://en.linux.perlzemi.com/blog/ If you check with 20200602093211.html "> grep command </a>, a core dump is also output.

<pre>
$ ls | grep core
core.28560
</ pre>

Think of a core dump as a file that contains information about debugging your program. We will discuss how to debug a program using a core dump elsewhere.

<h3> Remove assert macros </ h3>

The assert macro can be removed by specifying the NDEBUG macro at compile time. This is useful if you only use the assert macro when debugging and you don't want to include the assert macro in the final product output.

<pre>
#include <stdio.h>
#include <stdint.h>
#include <assert.h>

int main (void) {
  int32_t num = -1;
  
  // Check that num is greater than 1
  assert (num> 1);
  
  printf ("% d \ n", num);
}
</ pre>

Let's define and execute the "NDEBUG macro" with the "-D" option of gcc as follows. The assert macro part is not executed.

<pre>
gcc -DNDEBUG -o a a.c && ./a
</ pre>