<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdio.html">
        <span itemprop = "name"> stdio.h </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> feof function-check if it is at the end of the file </h2>

You can use the feof function to check if the input file stream has reached the end of the file. You can use it by reading the <a href="/blog/20210418083246.html"> stdio.h</a> header.

<pre>
#include <stdio.h>
int feof (FILE * fp);
</pre>

The argument is a file stream. The return value is a non-zero value if it has reached the end, and 0 if it has reached the end.

<h2> Feof function sample </h2>

A sample using the feof function can be found in the <a href="/blog/20210519082217.html"> fgetc function</a> sample.