<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/preprocessor.html">
        <span itemprop = "name"> preprocessor </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Preprocessor conditional branching </ h2>

The preprocessor has a conditional branching syntax.

<h3> #ifdef-if a macro is defined </ h3>

If a macro is defined, it can be expressed by "#ifdef".

<pre>
#ifdef macro name

// process

#endif
</ pre>

This is a sample of "#ifdef".

<pre>
#include <stdio.h>

#define MYAPP_FOO

int main (void) {

#ifdef MYAPP_FOO
  printf ("Hello \ n");
#endif

}
</ pre>

If <a href="/blog/20210302083009.html"> macro </a> called "MYAPP_FOO" is defined in #define, "Hello" is output, and if this line is removed, nothing is output. Hmm.

<h3> #ifndef --If the macro is not defined </ h3>

If a macro is not defined, can be represented by "#ifndef".

<pre>
#ifndef macro name

// process

#endif
</ pre>

"#Ifndef" is often used when writing <a href="/blog/20210201153503.html"> include guard </a>.

This is a sample of "#ifndef".

<pre>
#include <stdio.h>

int main (void) {

#ifndef MYAPP_FOO
  printf ("Hello \ n");
#endif

}
</ pre>

If the <a href="/blog/20210302083009.html"> macro </a> called "MYAPP_FOO" is not defined in #define, "Hello" is output, and if it is defined, nothing is output. It will not be.

<h3> #if --If the conditions are met </ h3>

You can describe the processing when the condition is met with "#if". You can use the comparison operator, negation operator, and defined. Comparison operations can be performed using only integer constants. If the comparison operation did not define a macro, the value is assumed to be 0.

<pre>
#if condition

// process

#endif
</ pre>

This is a sample of "#if".

<pre>
#include <stdio.h>

#define MYAPP_FOO 5

int main (void) {

#if defined (MYAPP_FOO)
  printf ("MYAPP_FOO is defined \ n");
#endif

#if! defined (MYAPP_FOO)
  printf ("MYAPP_FOO is not defined \ n");
#endif

#if defined (MYAPP_FOO)
#if MYAPP_FOO> 3
  printf ("MYAPP_FOO is defined and greater than 3 \ n");
# endif
#endif
}
</ pre>

<h3> #elif, #else </ h3>

Multiple conditions are applied with "#elif", and processing is applied when the conditions are not satisfied with "#else".

<pre>
#include <stdio.h>

#define MYAPP_FOO 5

int main (void) {

#if MYAPP_FOO> 10
  printf ("MYAPP_FOO is greater than 10 \ n");
#elif MYAPP_FOO> 3
  printf ("MYAPP_FOO is greater than 3 \ n");
#else
  printf ("MYAPP_FOO is others \ n");
#endif
}
</ pre>

<h3> Is it possible to use the sizeof operator with the comparison operator? </ H3>

Yes, you cannot use the <a href="/blog/20210207155548.html"> sizeof operator </a> with the preprocessor comparison operator.

This means that in principle it is not possible to make 32-bit or 64-bit decisions using the preprocessor.

It must be given as a macro definition from outside C.

Also, if a macro definition for judgment has already been given, it can be used. For example, <a href="https://en.linux.perlzemi.com/blog/20201216103956.html"> gcc </a> is used to judge 32bit.

<pre>
#include <stdio.h>

int main () {
#ifdef __code_model_32__

#else

#endif
}
</ pre>