<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/string.html">
        <span itemprop = "name"> string.h </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> strchr function-check if characters are included </h2>

Use the strchr function to check if a character is included in the string. You can use the strchr function by loading <a href="/blog/20210303101711.html"> string.h</a>.

<pre>
#include <string.h>
char * strchr (const char * string, int ch);
</pre>

If string contains ch, returns the first matched address. If not found, returns NULL.

In C language, there is a promise that <a href="/blog/20210331101342.html"> string</a> ends with "\ 0". The strchr function presupposes this convention and searches for a string.

When using the strchr function, make sure that the string of the first argument ends with "\ 0".

<h3> Get the position where the character was found </h3>

This is a sample to get the position where the character is found by the strchr function. Displays the position of the string where the first ":" is found.

<pre>
#include <string.h>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  const char * module_name = "Foo::Bar::Baz";
  
  // Get the address of the first ":"
  const char * match_ptr = strchr (module_name,':');
  
  if (match_ptr! = NULL) {
    // Calculate the found position (relative position)
    int32_t match_index = match_ptr --module_name;
    
    printf("Match Position%d\n", match_index);
  }
  else {
    printf("Not Match\n");
  }
}
</pre>

This is the output result.

<pre>
Match Position 9
</pre>