<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/stddef.html">
        <span itemprop = "name"> stddef.h </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> NULL --Null pointer constant </ h2>

<b> NULL </ b> is called a null pointer constant and is defined in "stddef.h" as "integer 0" or "integer 0 cast to (void *)".

Substituting NULL for <a href="/blog/20210211090234.html"> pointer </a> is called a null pointer. NULL can be assigned to any pointer type.

<pre>
// Null pointer
void * ptr = NULL;
int32_t * int32_ptr = NULL;
float * float_ptr = NULL;
</ pre>

<h3> NULL sample </ h3>

This is a null sample.

<h4> Check memory allocation </ h4>

In the sample below, NULL is returned if the memory allocation of the <a href="/blog/20210209082644.html"> calloc function </a> fails. Therefore, it can be used to check that memory is allocated.

<pre>
#include <stddef.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>

int main (void) {
  // Pointer
  int32_t * nums = calloc (sizeof (int32_t), 10);
  
  // Pointer is not null
  if (nums! = NULL) {
    printf ("Success \ n");
  }
  else {
    printf ("Fail \ n");
  }
  free (nums);
}
</ pre>

Output result

<pre>
Success
</ pre>

<h4> Is there a child element in the node of the tree? </ H4>

This is a sample of checking if a child element exists in a node of a tree.

<pre>
#include <stddef.h>
#include <stdint.h>
#include <stdio.h>
#include <stdlib.h>

struct myapp_node {
  struct myapp_node * first_child;
  struct myapp_node * last_child;
};;

int main (void) {
  
  // Parent node
  struct myapp_node * parent = calloc (sizeof (struct myapp_node), 1);
  
  // Child node
  struct myapp_node * first_child = calloc (sizeof (struct myapp_node), 1);
  
  // Assign to the first child of the parent node
  parent-> first_child = first_child;
  
  if (parent-> first_child! = NULL) {
    printf ("Have First Child \ n");
  }

  if (parent-> last_child == NULL) {
    printf ("Don't Have Last Child \ n");
  }
  
  free (parent);
  free (first_child);
}
</ pre>

Output result

<pre>
Have First Child
</ pre>