<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdio.html">
        <span itemprop = "name"> stdio.h </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> EOF-a constant that represents the end of the file </h2>

EOF is a constant that represents the end of the file. Although defined as a negative number in the C language specification, it is generally defined as "-1". You can use it by reading the <a href="/blog/20210418083246.html"> stdio.h</a> header.

<pre>
EOF
</pre>

<a href="/blog/20210519082217.html"> fgetc function</a>, <a href="/blog/20210516083039.html"> getc function</a>, getchar function, etc. reach the end of the file If so, it returns EOF.

However, do not use this value to determine that you have actually reached the end of the file. If one character of the read file is the same as EOF, a misjudgment will occur. Use the feof function in conjunction with the EOF check to determine that you have reached the end of the file. See the sample code for the <a href="/blog/20210519082217.html"> fgetc function</a> for the actual code.