<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/types.html">
        <span itemprop = "name"> C type </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> void type-a special type that means it doesn't exist </h2>

The void type is a special type that means it doesn't exist. It can be used as the return type and argument type of <a href="/blog/20210214090234.html"> function definition</a>.

<pre>
#No return value, no arguments
void foo (void) {
  
}
</pre>

Note that the void type has no semantic relevance to the <a href="/blog/20210215090234.html"> general-purpose pointer type "void *"</a>.