<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Command line arguments </h2>

A description of how to receive command line arguments in C. Command line arguments can be taken as arguments to the <a href="/blog/20210314140759.html"> main function</a>.

<pre>
int main (int argc, char * argv []) {

}
</pre>

The first argument is the number of command line arguments. It is an int type.

The second argument is the <a href="/blog/20210129143859.html"> array</a> type of "char *". Command line arguments are passed as an array of strings.

Note that in C, the name of the executed program is also included as part of the command line arguments.

for example

<pre>
./test apple orange banana
</pre>

When executed with, argv becomes as follows.

<pre>
"./test", "apple", "orange", "banana"
</pre>

The names argc and argv can be anything, but I will introduce them with the names described in the C language specification.

<h3> Sample command line arguments </h3>

It receives command line arguments and outputs the contents as they are.

<pre>
// test.c
#include <stdio.h>
#include <stdint.h>

int main (int argc, char * argv []) {
  for (int32_t i = 0; i <argc; i ++) {
    printf("%s\n", argv [i]);
  }
}
</pre>

Let's compile and run it like this:

<pre>
gcc -o test test.c && ./test apple orange banana
</pre>

The output result is as follows.

<pre>
./test
apple
orange
banana
</pre>