<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/string.html">
        <span itemprop = "name"> string.h </ span>
      </a>
      <meta itemprop = "position" content = "3" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> strstr function-check if a string is included </ h2>

Use the strstr function to check if a string is included. You can use the strstr function by loading <a href="/blog/20210303101711.html"> string.h </a>.

<pre>
#include <string.h>
char * strstr (const char * str1, const char * str2);
</ pre>

If str1 contains str2, the first matching address is returned. If not found, returns NULL.

In C language, there is a promise that <a href="/blog/20210331101342.html"> string </a> ends with "\ 0". The strstr function presupposes this convention and searches for a string.

When using the strstr function, make sure that the two strings of the argument end with "\ 0".

<h3> Check if a string is included </ h3>

This is a sample to check if a string is included with the strstr function. Make sure it's not NULL and you're good to go.

<pre>
#include <string.h>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  const char * message = "I like orange \ n";
  const char * match = "orange";
  
  if (strstr (message, match)! = NULL) {
    printf ("Match \ n");
  }
  else {
    printf ("Not Match \ n");
  }
}
</ pre>

This is the output result.

<pre>
Match
</ pre>

<h3> Count the number of strings included </ h3>

The strstr function returns the position when there is a match, so let's use this to count the number of strings included.

<pre>
#include <string.h>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  const char * message = "I like orangeorange and orange. \ N";
  const char * match = "orange";
  int32_t match_length = strlen (match);
  
  int32_t match_count = 0;
  const char * message_ptr = message;
  while (1) {
    message_ptr = strstr (message_ptr, match);
    if (message_ptr! = NULL) {
      match_count ++;
      message_ptr + = match_length;
    }
    else {
      break;
    }
  }
  
  printf ("Match Count% d \ n", match_count);
}
</ pre>

This is the output result.

<pre>
Match Count 3
</ pre>