<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library.html">
        <span itemprop = "name"> C standard library </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/library/stdio.html">
        <span itemprop = "name"> stdio.h </span>
     </a>
      <meta itemprop = "position" content = "3" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> stdout-a pointer to a FILE structure that means a standard output stream </h2>

stdout is a pointer to a FILE structure that means a standard output stream. The standard output stream is automatically opened at the start of the program. A standard output stream generally means output to the screen. You can use it by reading the <a href="/blog/20210418083246.html"> stdio.h</a> header.

<pre>
#include <stdio.h>

stdout
</pre>

stdout is implemented as an expression in the C language specification. stdout can be implemented as a <a href="/blog/20210315140759.html"> global variable</a> or a <a href="/blog/20210302083009.html"> macro</a>.

<h3> Sample using stdout </h3>

This is a sample using stdout. The <a href="/blog/20210510093506.html"> fprintf function</a> specifies the standard output as the output destination.

<pre>
#include <stdio.h>

int main (void) {
  const char * message = "Hello";
  fprintf (stdout, "%s\n", message);
}
</pre>

This is the execution result. "Hello" is displayed on the screen.

<pre>
Hello
</pre>