<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> typedef statement-create a type alias </h2>

You can use a typedef statement to create a type alias.

<pre>
typedef typename type alias
</pre>

<h4> Create another name for the structure </h4>

Let's create an alias for the structure. Name the structure "struct spvm_field" "SPVM_FIELD".

<pre>
#include <stdint.h>

// Structure definition
struct spvm_field {
  int32_t id;
  const char * name;
};;

// Create another name for the structure
typedef struct spvm_field SPVM_FIELD;

</pre>

A structure is a type. It can be specified as the type name of a typedef statement.

<h4> Create alias for shared type </h4>

Let's create an alias for the union type. Name the shared type "union spvm_value" "SPVM_VALUE".

<pre>
#include <stdint.h>

// Union definition
union spvm_value {
  int8_t bval;
  int16_t sval;
  int32_t ival;
  int64_t lval;
  float fval;
  double dval;
  void * oval;
};;

// Create a union alias
typedef union spvm_value SPVM_VALUE;
</pre>

Unions are a type. It can be specified as the type name of a typedef statement.

<h3> How to give a type alias before defining a structure or union </h3>

The above method used a typedef statement to create a type alias after defining a structure or union.

Is there a way to change this order?

Let's add a type alias before defining a structure or union.

It uses the C language specification that only the names of structures and unions can be declared first.

<pre>
#include <stdint.h>

// Create another name for the structure
struct spvm_field;
typedef struct spvm_field SPVM_FIELD;

// Structure definition
struct spvm_field {
  int32_t id;
  const char * name;
};;

// Create a union alias
union spvm_value;
typedef union spvm_value SPVM_VALUE;

// Union definition
union spvm_value {
  int8_t bval;
  int16_t sval;
  int32_t ival;
  int64_t lval;
  float fval;
  double dval;
  void * oval;
};;
</pre>

So what does this mean?

This is useful if you want to create a <a href="/blog/20210202153503.html"> type declaration header</a> to reduce inter-header loading.

<h3> When is the typedef statement used? </H3>

When is the typedef statement used?

<h4> To abstract the type </h4>

Typedef statements are sometimes used to abstract types.

For example, the size_t type is used in C to express length, but the definition may differ between the 32-bit environment and the 64-bit environment.

This is because size_t is defined in the C language specification as "at least 16-bit unsigned integer type".

If you follow the C language specifications, you can change the definition depending on the processing system.

<pre>
typedef unsigned int size_t;

typedef unsigned long size_t;

typedef unsigned long long size_t;
</pre>

The actual definition differs depending on the processing system, but it can be abstracted as size_t in the source code.

<h4> Because it is troublesome to write structs and unions </h4>

If you want to treat it as a type name in a unified way, writing "struct honya" and "union honya" feels a little troublesome.

If you use a typedef, you can treat it like a single type name.

<h4> To eliminate cross-references and circular references in headers </h4>

You can avoid cross-references and circular references in headers by creating a <a href="/blog/20210202153503.html"> type declaration header</a>.

I think this is very important for the practical use of the typdef statement.

<h3> Where do you write the typedef statement? </h3>

Write the typedef statement in the header file.