<h2> I finished writing an introduction to C language for C99 </ h2>

I have been writing the introduction to C language for C99 steadily since November 2020, but on July 6, 2021, I finished writing the main part.

All C language samples are C99 compliant.

I've written most of the C language features I needed when I created the programming language <a href="https://metacpan.org/pod/SPVM"> SPVM </a> in C language.

We have finished it to a level where you can fully utilize C language in practice.