<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </span>
     </a>
      <meta itemprop = "position" content = "2" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> for statement-repeated syntax </h2>

You can write iteratively using the for statement.

<pre>
for (Initialization of loop variable; Iteration condition; Update of loop variable) {
  
}
</pre>

This is a sample to calculate the total with the for statement.

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  
  // Find the total with a for statement
  int32_t total = 0;
  int32_t i;
  for (i = 0; i <10; i ++) {
    total + = i;
  }
  
  printf("%d\n", total);
}
</pre>

The total from 0 to 9 is output.

<pre>
45 45
</pre>

The for statement is syntactic sugar for <a href="/blog/20210119082326.html"> while statement</a>. The following while statement and for statement are equivalent.

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  
  // Find the total with a for statement
  int32_t total = 0;
  int32_t i = 0;
  while (i <10) {
    total + = i;
    i ++;
  }
  
  printf("%d\n", total);
}
</pre>

<h3> Variable declaration in the loop variable initialization part of for added in C99 </h3>

<a href="/blog/20201217105308.html"> Variable declaration</a> in the loop variable initialization part of for added in <a href="/blog/20201206125815.html"> C99</a> The function is convenient.

<pre>
for (declaration and initialization of loop variables; repeat condition; update of loop variables) {
  
}
</pre>

This is a sample to calculate the total with the for statement. Initialization is performed at the same time as variable declaration using the function of C99.

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  
  // Find the total with a for statement
  int32_t total = 0;
  for (int32_t i = 0; i <10; i ++) {
    total + = i;
  }
  
  printf("%d\n", total);
}
</pre>

It is semantically syntactic sugar with the following code.

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  
  // Find the total with a for statement
  int32_t total = 0;
  {
    int32_t i;
    for (i = 0; i <10; i ++) {
      total + = i;
    }
  }
  
  printf("%d\n", total);
}
</pre>

If it's a new gcc, I think it works without options. For older gcc, add the following options.

<pre>
gcc -std = c99 -o a a.c && ./a

gcc -std = gnu99 -o a a.c && ./a
</pre>