<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/syntax.html">
        <span itemprop = "name"> Basic grammar </ span>
      </a>
      <meta itemprop = "position" content = "2" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> Type cast </ h2>

A type cast is a syntax that converts one type to another.

<pre>
(Type name after conversion) Value
</ pre>

To convert an int8_t type value to an int32_t type value:

<pre>
#include <stdint.h>
#include <stdio.h>

int main (void) {
  int8_t num_i8 = 5;
  int32_t num_i32 = (int32_t) num_i8;
  
  printf ("% d \ n", num_i32);
}
</ pre>

Be aware that type conversions can result in inaccuracies and incompatible types that can lead to unexpected values.

Some compilers warn you of things that are likely to be wrong, such as incompatible types.

For example, in <a href="https://en.linux.perlzemi.com/blog/20201216103956.html"> gcc </a>, "<a href="/blog/20201130082751.html"> int32_t type </a> If you typecast ">" to <a href="/blog/20210215090234.html"> general-purpose pointer type "void *" </a>, the compilation will pass, but a warning will be issued.

<pre>
#include <stdint.h>

int main (void) {
  int32_t num = 5;
  void * ptr = (void *) num;
}
</ pre>

Warning content.

<pre>
a.c: 5: warning: cast to pointer from integer of different size
</ pre>

<h3> Implicit type conversion and type conversion rules </ h3>

What happens to the result of type conversion is explained in Implicit type conversion and type conversion rules.