<h2> Introduction to C language --Learn C language after C99 from environment construction </h2>

The C language seminar is an introduction to C language that allows you to learn C language after C99 from environment construction. All samples support C language after C99. C language is active in a wide range of fields such as embedded development, device drivers, programming language implementation, Linux kernel, Window API, GUP / CUDA, Arduino, etc. C language has high speed of numerical calculation and array calculation, and can output executable files and shared libraries in machine language on many platforms.

<h3> C language development environment construction </h3>

<ul>
  <li> <a href="/blog/20201124085008.html"> Building a C language development environment</a> </li>
</ul>

<h3> Compile </h3>

<ul>
  <li> <a href="/compile.html"> C language compilation and linking</a> </li>
</ul>

<h3> Basic grammar </h3>

<ul>
  <li> <a href="/syntax.html"> Basic C grammar</a> </li>
</ul>

<h3> type </h3>

<ul>
  <li> <a href="/types.html"> C language types</a> </li>
</ul>

<h3> Standard C library </h3>

<ul>
  <li> <a href="/library.html"> Standard C library</a> </li>
</ul>

<h3> Preprocessor </h3>

<ul>
  <li> <a href="/preprocessor.html"> preprocessor</a> </li>
</ul>

<h3> Object-oriented C language </h3>

<ul>
  <li> <a href="/blog/20210212090234.html"> Object-oriented C language</a> </li>
</ul>

<h3> Dynamic data structure </h3>

<ul>
  <li> <a href="/blog/20210323082708.html"> Create your own dynamic array in C language or use a library</a> </li>
  <li> <a href="/blog/20210324082708.html"> Create your own associative array in C language or use a library</a> </li>
</ul>

<h3> Computer architecture closely related to C language </h3>

<ul>
  <li> <a href="/blog/20210224132505.html"> Two's complement representation of negative numbers</a> </li>
</ul>

<h3> C language question </h3>

<ul>
  <li> <a href="/blog/20210127140803.html"> Isn't there GC in C?</a> </li>
</ul>

<h3> What's new in C99 </h3>

<ul>
  <li> <a href="/blog/20201206125815.html"> What's new in C99</a> </li>
</ul>

<h3> All articles on the site </h3>

All articles on this site can be found below.

<ul>
  <li> <a href="/list.html"> See all articles</a> </li>
</ul>

<h3> C language related information </h3>

C language related information.

<h4> Linux </h4>

The Linux kernel is written in C. If you want to learn about Linux, click here.

<ul>
  <li> <a href="https://en.linux.perlzemi.com"> Introduction to Linux Server Management</a> </li>
</ul>

<h4> Programming language implementation </h4>

Programming languages ​​such as <a href="/blog/20201116090747.html"> Perl</a>, Python, Ruby, and PHP are written in C.

<h4> Binding of C language to other languages ​​</h4>

If you want to call a function written in C from another programming language, each programming language has a binding method. <a href="https://en.bind.perlzemi.com/"> Perl</a>, Python, Ruby, PHP, Java, etc. By binding C functions to C functions, You can call the function.

<h4> Text Processing-Introduction to Perl </h4>

A field of text processing that C language is not good at, such as character string replacement. Sometimes it can be solved well by combining it with Perl.

<ul>
  <li> <a href="https://en.perlzemi.com/"> Perl Seminar-Introduction to Perl Programming</a> </li>
</ul>

<h3>All Entries</h3>

<ul>
  <li> <a href="/list.html">All Entries</a> </li>
</ul>
