<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </span>
     </a>
      <meta itemprop = "position" content = "1" />
    </li>
    <li>
      here
    </li>
  </ul>
</div>

<h2> Preprocessor </h2>

A preprocessor is a program that replaces source code before compiling C language. Before compiling, to be more specific, before lexical analysis begins. Called automatically by the C language compiler.


<h3> Preprocessor instructions </h3>

Preprocessor instructions are instructions that the preprocessor has. Frequently used items include "#include" and "#define".

<ul>
  <li> <a href="/blog/20210203153019.html"> #include --File include</a> </li>
  <li> <a href="/blog/20210302083009.html"> Macro description with #define</a> </li>
  <li> <a href="/blog/20210124140655.html"> Function macro with #define</a> </li>
  <li> <a href="/blog/20210305101711.html"> Preprocessor conditional branching</a> </li>
</ul>

<h3> Predefined macros </h3>

<ul>
  <li> <a href="/blog/20210528085632.html"> __FILE__ --filename</a> </li>
  <li> <a href="/blog/20210515085632.html"> __LINE__ --line number</a> </li>
</ul>