<div class = "bread">
  <ul itemscope itemtype = "http://schema.org/BreadcrumbList">
    <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
      <a itemprop="item" href="/">
        <span itemprop = "name"> C language </ span>
      </a>
      <meta itemprop = "position" content = "1" />
    </ li>
    <li>
      here
    </ li>
  </ ul>
</ div>

<h2> C type </ h2>

This is an introduction to the types used in C language.

<h4> Type that expresses characters </ h4>

<ul>
  <li> <a href="/blog/20201204103322.html"> char --Type that represents a character </a> </ li>
  <li> <a href="/blog/20201208125815.html"> char * --Type that represents a string </a> </ li>
</ ul>

<h4> Traditional integer type </ h4>

<ul>
  <li> <a href="/blog/20201209105820.html"> Traditional C language integer type </a> </ li>
  <li> <a href="/blog/20210130143859.html"> int type --signed integer type of 16 bits or more </a> </ li>
</ ul>

<h4> Integer type that guarantees the width and signing / unsigned introduced in C99 </ h4>

<ul>
  <li> <a href="/blog/20201117090747.html"> int8_t --Signed 8-bit integer type </a> </ li>
  <li> <a href="/blog/20201126090559.html"> int16_t --Signed 16bit integer type </a> </ li>
  <li> <a href="/blog/20201130082751.html"> int32_t --Signed 32-bit integer type </a> </ li>
  <li> <a href="/blog/20201127082751.html"> int64_t --Signed 64-bit integer type </a> </ li>
  <li> <a href="/blog/20201122084622.html"> uint8_t --Unsigned 8bit integer type </a> </ li>
  <li> <a href="/blog/20201120084622.html"> uint16_t --Unsigned 16bit integer type </a> </ li>
  <li> <a href="/blog/20201111150850.html"> uint32_t --Unsigned 32bit integer type </a> </ li>
  <li> <a href="/blog/20201109150850.html"> uint64_t --Unsigned 64-bit integer type </a> </ li>
</ ul>

<h4> Floating point type </ h4>

<ul>
  <li> <a href="/blog/20201202133213.html"> float --single precision (32bit) floating point type </a> </ li>
  <li> <a href="/blog/20201203133213.html"> double-double precision (64bit) floating point type </a> </ li>
</ ul>

<h4> Size type </ h4>

<ul>
  <li> <a href="/blog/20210301091654.html"> size_t type --Size representation type </a> </ li>
</ ul>

<h4> General-purpose pointer type </ h4>

<ul>
  <li> <a href="/blog/20210215090234.html"> General-purpose pointer type --void * </a> </ li>
</ ul>

<h4> Integer type that can be converted to and from a pointer </ h4>

<ul>
  <li> <a href="/blog/20210225131724.html"> inpttr_t --Signed integer type of pointer type size </a> </ li>
  <li> <a href="/blog/20210223131724.html"> uintptr_t --Pointer type size unsigned integer type </a> </ li>
</ ul>

<h4> A special type that means it doesn't exist </ h4>

<ul>
  <li> <a href="/blog/20210313140759.html"> void type-a special type that means it doesn't exist </a> </ li>
</ ul>